<div class="form__container">
  <form class="search-form" id="search-form">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search images..."
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        name="data"
      />
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        <i class="fa fa-search"></i>
    </button>
  </div>
  </form>
  <div class="toggle-switch">
    <p>Load More</p>
    <span>
      <label class="switch">
        <input id="scroll-switch" type="checkbox" />
        <span class="slider round"></span>
      </label>
    </span>
    <p>Inf Scroll</p>
  </div>
  
</div>
